<app-menu></app-menu>
<div class="container">
<form class="text-center p-3 row">
  <button *ngIf="administrator" class="btn col-12"
 (click)='addEvent()'>Add an event
  </button>
</form>
<div *ngFor='let event of events' class="card">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title col-12"><a [routerLink]="['/events', event.id]">{{event.name}}</a></h5>
      </div>
      <div class="row">
        <h4 class="card-title col-6">{{event.gDate | date:'short'}}</h4>
        <h6 class="card-title text-muted col-6">{{event.location}}</h6>
      </div>
</div>
</div>