<app-menu></app-menu>

<form class="text-center p-3">
  <button *ngIf="administrator" class="btn col-12"
 (click)='addEvent()'>Add an event
  </button>
</form>
<div *ngFor='let event of events' class="card">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title col-12"><a [routerLink]="['/events', event.id]">{{event.name}}</a></h5>
      </div>
      <div class="row">
        <h5 class="card-title col-8">{{event.gDate | date:'short'}}</h5>
        <h6 class="card-title mb-2 text-muted col-4">{{event.location}}</h6>
      </div>
</div>