<app-menu></app-menu>
<p><a [routerLink]="['/players']"><---- Get back to overview</a></p>
<app-create-player [player]="player" [update]="updateMode"></app-create-player>
<button *ngIf="!updateMode" type="button" class="btn btn-primary" (click)="updateModeFunction()">Update</button>
<button *ngIf="updateMode" type="button" class="btn btn-danger" (click)="updateModeFunction()">Cancel</button>
<button *ngIf="updateMode && !newPlayerMode" type="button" class="btn btn-success" (click)="submitFunction()">Submit</button>
<button *ngIf="newPlayerMode" type="button" class="btn btn-success" (click)="createFunction()">Create</button>

