<form class="text-center p-5">

  <p class="h4 mb-4">Log in</p>


  <!-- Name -->
  <input type="text" id="mail" class="form-control mb-4" [(ngModel)]="mail" name="mail" placeholder="E-mail">

  <!-- Email -->
  <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control mb-4" placeholder="Password">
  <p>{{errorMessage}}</p>
  <!-- Sign in button -->
  <button type="button" type="submit" class="btn col-12" (click)="onSubmitLogin()">Sign in</button>
  <h3 class="col-12" (click)="resetPassword()">Forgot your password?</h3>


</form>
<!-- Default form subscription -->