<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/Dashboard']">FC Monos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLink]="['/dashboard']" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item" [routerLink]="['/events']" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/events']">Events</a>
      </li>
      <li class="nav-item" [routerLink]="['/players']" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/players']">Players</a>
      </li>
      <li class="nav-item" [routerLink]="['/tips']" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/tips']">Tips & Tricks </a>
      </li>

    </ul>
  </div>
</nav>
