<app-menu></app-menu>

<form class="text-center p-3">
  <button *ngIf="administrator" class="btn col-12"
 (click)='addPlayer()'>Add a new member
  </button>
</form>
<div class="container text-center">
            <div *ngFor='let player of players' class="card d-inline-flex flex-wrap flex-fill">
                <div class="card-body">
                  <h5 class="card-title"><a [routerLink]="['/players', player.id]">{{player.name}}</a></h5>
                  <p class="card-text">{{player.playerNumber}}</p>
                </div>
            </div>
</div>

