<app-menu></app-menu>

<form class="text-center p-3">
  <button *ngIf="administrator" class="btn col-12"
 (click)='addPlayer()'>Add a player
  </button>
</form>

            <div *ngFor='let player of players' class="card d-inline-flex flex-wrap flex-fill" style="min-width: 150px;min-height: 150px;">
                <div class="card-body">
                  <h5 class="card-title"><a [routerLink]="['/players', player.id]">{{player.name}}</a></h5>
                  <p class="card-text">{{player.playerNumber}}</p>
                </div>
            </div>



