<app-menu></app-menu>

        <div *ngIf="administrator" class="card d-inline-flex flex-wrap flex-fill" style="width: 150px;height: 150px;" (click)='addAPlayer()'>
                <div class="card-body">
                  <h5 class="card-title">Add a player</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">54</p>
                  <p class="card-text">{{showAddPlayer}}</p>

                </div>
            </div>
            <div *ngFor='let player of players' class="card d-inline-flex flex-wrap flex-fill" style="width: 150px;height: 150px;">
                <div class="card-body">
                  <h5 class="card-title"><a [routerLink]="['/players', player.id]">{{player.name}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">{{player.playerNumber}}</p>
                </div>
            </div>
            <button (click)="logOut()">Log out</button>
            <p>{{currentPlayer.name}}</p>
            <button (click)="test()">Test</button>



