<app-menu></app-menu>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="datePicked" ngbDatepicker #d="ngbDatepicker" [attr.disabled]="!newEventMode ? '' : null"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="input-group">
        <label>Start Time</label>
        <input name="startTime1" [(ngModel)]="startTime1" [attr.disabled]="!newEventMode ? '' : null"/>
        <input name="startTime2" [(ngModel)]="startTime2" [attr.disabled]="!newEventMode ? '' : null"/>
      </div>
    <div class="input-group">
      <label>Name</label>
      <input name="name" [(ngModel)]="event.name" [attr.disabled]="!newEventMode ? '' : null"/>
    </div>
    <div class="input-group">
      <label>Location</label>
      <input name="location" [(ngModel)]="event.location" [attr.disabled]="!newEventMode ? '' : null"/>
    </div>
    <div class="input-group">
        <label>Description</label>
        <input name="description" [(ngModel)]="event.description" [attr.disabled]="!newEventMode ? '' : null"/>
      </div>
  </div>
  <button (click)="submitForm()">Submit</button>
</form>
<button (click)="editEvent()">Edit</button>
<button (click)="updateEvent()">Update</button>

<p>{{datePicked | json}}</p>

<h1>Event Presence</h1>
<div>
  <fa-icon [icon]="faCheckCircle"></fa-icon>
  <fa-icon [icon]="faCircle"></fa-icon>
  <fa-icon [icon]="faTimesCircle"></fa-icon>

</div>

<div *ngFor="let player of players" class="presence">
  <h4>{{player.name}}  </h4>
  <fa-icon [icon]="faCheckCircle" *ngIf="player.presence!=='YES'" (click)="changeToYes(player.id)"></fa-icon>
  <fa-icon [icon]="faCheckCircleSol" *ngIf="player.presence=='YES'" class="green"></fa-icon>
  <fa-icon [icon]="faCircle" *ngIf="player.presence=='YES' || player.presence=='NO'" (click)="changeToMaybe(player.id)"></fa-icon>
  <fa-icon [icon]="faCircleSol" *ngIf="player.presence!=='YES' && player.presence!=='NO'" class="orange"></fa-icon>
  <fa-icon [icon]="faTimesCircle" *ngIf="player.presence!=='NO'" (click)="changeToNo(player.id)"></fa-icon>
  <fa-icon [icon]="faTimesCircleSol" *ngIf="player.presence=='NO'" class="red"></fa-icon>
</div>

