button {
    margin-top: 5px;
    margin-bottom: 5px;

}


fa-icon {
    font-size: 20px;
    padding: 3px;
}

table {
    background-color: white;
    background: white;
    border: 0;
}

.names {
    font-weight: normal;
}

tbody > tr > th > fa-icon {
    font-size: 15px;
}

a {
    color: black;
}
.dots{
    color: white;
    
}