button {
    margin-top: 5px;
    margin-bottom: 5px;

}


fa-icon {
    font-size: 20px;
}

table {
    background-color: white;
    background: white;
    border: 0;
}

.names {
    font-weight: normal;
}

