<app-menu></app-menu>

<form class="text-center p-4">
  
  <div class="row">
    <label for="name" class="col-2 col-form-label"><fa-icon [icon]="faQuoteLeft"></fa-icon></label>
    <div class="col-10">
      <input type="text" id="name" class="form-control mb-4" name="name" placeholder="Name" [(ngModel)]="event.name" [attr.disabled]="!newEventMode ? '' : null">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon>
      </button>
    </div>
    <div class="col-10">
      <input class="form-control" placeholder="yyyy-mm-dd"
      name="dp" [(ngModel)]="datePicked" ngbDatepicker #d="ngbDatepicker" [attr.disabled]="!newEventMode ? '' : null"/>
    </div>
  </div>

  <div class="row">
    <label for="name" class="col-2 col-form-label"><fa-icon [icon]="faClock"></fa-icon></label>
    <div class="col-5">
      <input class="form-control mb-4" name="startTime1" placeholder="HH" [(ngModel)]="startTime1" [attr.disabled]="!newEventMode ? '' : null"/>
    </div>
    <div class="col-5">
      <input class="form-control mb-4" name="startTime2" placeholder="MM" [(ngModel)]="startTime2" [attr.disabled]="!newEventMode ? '' : null"/>
    </div>
  </div>

  <div class="row">
    <label for="location" class="col-2 col-form-label"><fa-icon [icon]="faMapMarkerAlt"></fa-icon></label>
    <div class="col-10">
      <input class="form-control mb-4" name="location" placeholder="Location" [(ngModel)]="event.location" [attr.disabled]="!newEventMode ? '' : null">
    </div>
  </div>

  <div class="row">
    <label for="description" class="col-2 col-form-label"><fa-icon [icon]="faCommentAlt"></fa-icon></label>
    <div class="col-10">
      <textarea class="form-control mb-4" name="description" placeholder="Comments"  rows="3" [(ngModel)]="event.description" [attr.disabled]="!newEventMode ? '' : null"></textarea>
    </div>
  </div>


  <button *ngIf="!newEventMode && currentPlayer.administrator" type="button" type="submit" class="btn col-8" (click)="editEvent()">Edit Event</button>

  <button *ngIf="newEventMode && currentPlayer.administrator" type="button" type="submit" class="btn col-8" (click)="submitForm()">Save</button>
  
</form>

<div class="container text-center p-1" *ngIf="this.currentPlayer.administrator">
  <h5><fa-icon [icon]="faExclamationTriangle"></fa-icon> As an administrator you are able to update all event presences!</h5>
</div>

<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4" style="width: 20%;">Name</th>
      <th colspan="2" style="width: 20%;"><fa-icon [icon]="faCheckCircleSol"></fa-icon></th>
      <th colspan="2" style="width: 20%;"><fa-icon [icon]="faQuestionCircleSol"></fa-icon></th>
      <th colspan="2" style="width: 20%;"><fa-icon [icon]="faTimesCircleSol"></fa-icon></th>
      <th colspan="2" style="width: 20%;"><fa-icon [icon]="faCircleSol"></fa-icon></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="4">Total</th>
      <th colspan="2">{{event.amountYes}}</th>
      <th colspan="2">{{event.amountMaybe}}</th>
      <th colspan="2">{{event.amountNo}}</th>
      <th colspan="2">{{event.amountUnknown}}</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let player of players">
    <th colspan="4" class="names">
      {{player.name}}
    </th>
    <td colspan="2">
        <fa-icon [icon]="faCheckCircle" *ngIf="player.presence!='YES'" (click)="changePresence(player.presence,'YES',player.id )"></fa-icon>
        <fa-icon [icon]="faCheckCircleSol" *ngIf="player.presence=='YES'" class="green"></fa-icon>
    </td>
    <td colspan="2">
      <fa-icon [icon]="faQuestionCircle" *ngIf="player.presence!='MAYBE'" (click)="changePresence(player.presence,'MAYBE',player.id )"></fa-icon>
      <fa-icon [icon]="faQuestionCircleSol" *ngIf="player.presence=='MAYBE'" class="orange"></fa-icon>
    </td>
    <td colspan="2">
      <fa-icon [icon]="faTimesCircle" *ngIf="player.presence!='NO'" (click)="changePresence(player.presence,'NO',player.id )"></fa-icon>
      <fa-icon [icon]="faTimesCircleSol" *ngIf="player.presence=='NO'" class="red"></fa-icon>
    </td>
    <td colspan="2">
      <fa-icon [icon]="faCircle" *ngIf="player.presence=='YES' || player.presence=='NO' || player.presence=='MAYBE'"></fa-icon>
      <fa-icon [icon]="faCircleSol" *ngIf="player.presence!='YES' && player.presence!='NO' && player.presence!='MAYBE'" class="grey"></fa-icon>
    </td>
  </tr>
</tbody>


</table>
</div>
