

<div *ngIf="!newAuth">

  <form class="text-center p-5"> 

  <p class="h4 mb-4 text-center">Sign up</p>

  <p>Welcome {{mail}}, you are about to join <span>{{teamName}}</span></p>.

  <button class="btn" (click)="onSubmit()">Sign Up</button>


  </form>



</div>

<div *ngIf="newAuth">

  <form class="text-center p-5"> 
    <p class="h4 mb-4 text-center">Sign up step 1/2</p>

    <p>Welcome, you are about to join <span>{{teamName}}</span>. Please fill out your log-in details:</p>

    <input type="text" class="form-control mb-4" id="mail" required [(ngModel)]="mail" name="mail" placeholder="E-mail">

    <input type="password" id="password" required [(ngModel)]="password" name="password" class="form-control mb-4" placeholder="Password">

    <input type="password" id="passwordConf" required [(ngModel)]="passwordConf" name="passwordConf" class="form-control mb-4" placeholder="Confirm Password">
    
    <label>{{errorMessage}}</label>

    <button class="btn btn-success" (click)="onSubmit()">Sign Up</button>
  </form>
</div>
