fa-icon {
    font-size: 55px;

}

.card  {
    margin-top: 12px;
    margin-bottom: 18px;
    margin-left: 12px;
    margin-right: 12px;
}

.card-body {
    padding: 10px 10px 0px 10px;

}
a {
    color: black;
    text-decoration: none;
}

.small {
    font-size: 20px;
}

.smaller {
    font-size: 15px;
}

h3 {
    font-size: medium;
}

h4 {
    font-size: 10px;
}

.title {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 15px;
}



.characteristics {
    margin-top: 5px;
    margin-bottom: 5px;
}